/**********
*** FONT START ***
**********/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

/**********
*** FONT END ***
**********/

/**********
*** COLOR START ***
**********/
:root {
  --black: #000000;

  --white: #FFFFFF;
  --white-100: #F7F7F7;

  --grey: #C4C4C4;
  --grey-100: #CECECE;
  --grey-200: #A8A8A8;
  --grey-300: #C3CBD9;
  --grey-400: #CAC8C8;

  --blue: #597FAE;
  --blue-100: #5980AE;

  --grin: #00B227;
  --grin-100 :#52AE95;

  accent-color: var(--blue);
}

/**********
*** COLOR END ***
**********/

/**********
*** COMMON START ***
**********/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dt {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: transparent;
  border: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 330px;
  width: 100%;
  margin-top: 115px;
  z-index: 1;
}

.name__box {
  background-color: var(--grin-100);
  transform: skew(-20deg);
  width: 330px;
  border-radius: 8px;
  margin-bottom: 7px;
}

.name__link {
  display: block;
  width: 100%;
  transform: skew(20deg);
  color: var(--white);
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 18px 0;
}

.text-name {
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
}

.container {
  max-width: 1695px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header-container,
.footer-container,
.container-review {
  max-width: 1875px;
  width: 100%;
  padding: 0 5px;
}

.text-bold {
  font-weight: 600;
  margin-right: 5px;
}

.text-link {
  color: var(--blue);
  font-weight: 500;
  line-height: 27px;
  border-bottom: 2px dashed var(--blue);
  transition: all .3s;
}

.text-link:hover {
  opacity: 0.7;
}

.title-bold {
  font-size: 54px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 47px;
}

.title-light {
  font-size: 54px;
  line-height: 61px;
  font-weight: 300;
}

.button {
  width: 540px;
  background-color: var(--blue);
  border-radius: 1000px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 17px;
  position: relative;
  font-size: 19px;
  font-weight: 600;
  line-height: 29px;
  color: var(--white);
  transition: all .3s;
}

.button:hover {
  box-shadow: 0px 4px 20px 6px rgba(89, 127, 174, 0.29);
}

.button::before {
  position: absolute;
  content: url(../img/svg/arrow-white.svg);
  top: 47px;
  right: 45px;
}

.tel-link {
  font-size: 30px;
  font-weight: 700;
  line-height: 21.2px;
  transition: opacity .3s;
}

.tel-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .title-bold {
    font-size: 47px;
    font-weight: 700;
    line-height: 55px;
  }

  .title-light {
    font-size: 47px;
    line-height: 55px;
    font-weight: 300;
  }
}

@media screen and (max-width: 540px) {
  .title-bold {
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
  }

  .title-light {
    font-size: 38px;
    line-height: 42px;
    font-weight: 300;
  }
}

@media screen and (max-width: 375px) {
  .title-bold {
    font-size: 34px;
    font-weight: 700;
    line-height: 39px;
  }

  .title-light {
    font-size: 34px;
    line-height: 39px;
    font-weight: 300;
  }
}
/**********
*** COMMON END ***
**********/

/**********
*** HEADER START ***
**********/
.header {
  background-image: url(../img/bg/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 35px 0;
  position: relative;
}

.header::after {
  position: absolute;
  content: url(../img/bg/doctor-bg.png);
  bottom: -4px;
  right: 92px;
}

.header__top {
  padding: 20px 0 20px 9px;
  display: flex;
  align-items: center;
}

.logo-header {
  width: 162px;
  margin-right: 31px;
}

.header__top-item--first {
  width: 247px;
  margin-right: 40px;
}

.menu__btn {
  display: none;
}

.header__top-item--second {
  display: flex;
  align-items: center;
  margin-right: 38px;
  width: 437px;
}

.header__top-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 19px;
  object-fit: cover;
}

.header__top-item--third {
  margin-right: 12px;
  display: flex;
  width: 400px;
}

.header__top-number {
  background-color: var(--white);
  filter: drop-shadow(0px 0px 40px rgba(19, 19, 19, 0.11));
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: 21px;
  color: var(--blue);
  font-size: 27px;
  font-weight: 700;
  padding: 34px 23px;
}

.header__top-text {
  display: flex;
}

.header__top-item--social {
  margin-right: 29px;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 22px;
}

.social-list__item--service:not(:last-child) {
  margin-right: 12px;
}

.social-list__link {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.social-list__link:hover {
  scale: 1.1;
  opacity: 0.7;
}

.social-list__img {
  width: 74px;
  height: 74px;
}

.social-list__img--service {
  width: 47px;
  height: 47px;
}

.header__top-item--address {
  width: 290px;
  text-align: right;
}

.header__top-block {
  display: flex;
  margin-bottom: 13px;
  justify-content: right;
}

.text-bold--address {
  position: relative;
}

.text-bold--address::before {
  position: absolute;
  content: '';
  background-color: var(--grin);
  border-radius: 50%;
  width: 9px;
  height: 11px;
  top: 7px;
  left: -18px;
}

.header-address {
  font-weight: 300;
  line-height: 29px;
  border-bottom: 1px dashed var(--blue);
}

.header-box {
  display: none;
}

.header__menu {
  padding-bottom: 86px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  filter: drop-shadow(0px 0px 40px rgba(19, 19, 19, 0.06));
  border-radius: 12px;
  padding: 0 30px 0 47px;
}

.menu__item {
  padding: 32px 0;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.header-content {
  padding-bottom: 54px;
}

.title {
  max-width: 1090px;
  width: 100%;
  margin-bottom: 52px;
}

.title,
.title__bold {
  font-size: 69px;
  font-weight: 300;
  line-height: 95px;
}

.title__bold {
  font-weight: 700;
}

.header-content__wrapper {
  width: 100%;
}

.content-title {
  font-size: 31px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 58px;
  max-width: 750px;
  width: 100%;
}

.content-title__light {
  font-weight: 300;
  font-size: 31px;
  line-height: 38px;
}

.header-content__inner {
  display: flex;
  margin-bottom: 48px;
}

.content-list {
  max-width: 735px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 52px 24px;
  align-items: center;
  margin-right: 53px;
}

.content-list__item {
  width: 375px;
  padding-left: 93px;
  position: relative;
}

.content-list__item::before {
  position: absolute;
  content: url(../img/svg/check.svg);
  top: -15px;
  left: 0;
}

.content-list__item:nth-child(4) {
  display: flex;
}

.content-list__item:nth-child(4)::before {
  top: -22px;
  left: 0;
}

.text-bold--list {
  margin-right: 0;
}

.header-content__block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 330px;
  width: 100%;
  margin-top: -72px;
}

.header-content__play {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid var(--grey-100);
  margin-bottom: 10px;
  transition: all .3s;
}

.header-content__play:hover {
  border: 10px solid var(--grey-200);
  scale: 1.1;
  
}

.header-content__images {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid var(--blue-100);
}

.header-content__wrapp {
  display: flex;
}

.header-content__item--consultation {
  padding-top: 15px;
  max-width: 542px;
  width: 100%;
  text-align: center;
  margin-right: 44px;
}

.header-content__items {
  display: flex;
  width: 100%;
}

.header-content__item--social {
  max-width: 370px;
  width: 100%;
  z-index: 1;
}

.header-content__block--adaptive {
  display: none;
}

.text-bold--question {
  position: relative;
}

.text-bold--question::before {
  position: absolute;
  content: '';
  background-color: var(--grin);
  border-radius: 50%;
  width: 9px;
  height: 11px;
  top: 6px;
  left: -12px;
}

.text-online {
  margin-bottom: 10px;
}


@media screen and (max-width: 1900px) {
  .header::after {
    bottom: -6px;
    right: 27px;
  }

  .header__top {
    padding-right: 20px;
    justify-content: space-between;
  }

  .header__top-item--second {
    display: none;
    margin-right: 0;
  }

  .header__top-item--social {
    margin-right: 0;
    display: none;
  }

  .header__menu {
    padding-bottom: 0;
    display: none;
  }

  .menu__btn {
    width: 85px;
    height: 53px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    order: 2;
  }
  
  .menu__span {
    width: 100%;
    height: 6px;
    background-color: var(--blue);
    border-radius: 6px;
  }
  
  .menu__btn::after,
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: var(--blue);
    border-radius: 6px;
  }
  
  .menu__btn::after {
    bottom: 1px;
  }
  
  .menu__btn::before {
    top: 0;
  }

  .header__menu {
    transform: translateY(-300%);
    transition: all 0.01s;
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0 15px 10px 15px rgba(33, 15, 15, 0.08);
    display: block;
    position: fixed;
    top: 155px;
    right: 0;
    width: 45%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    z-index: 9;
  }
  
  .header__menu--active {
    top: 150px;
    transition: top 0.3s;
    transform: translateX(0%);
  }

  .menu__list {
    display: block;
    background-color: var(--white-100);
    border-radius: 30px;
  }
}

@media screen and (max-width: 1636px) {
  .header::after {
    content: url(../img/haritonov2-min.png);
  }

  .header-title {
    text-align: center;
    margin:  0 auto 35px;
  }

  .content-list {
    margin-right: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .header::after {
    right: 13%;
  }

  .header__top {
    flex-wrap: wrap;
  }

  .menu__btn {
    order: 0;
  }

  .header__top-item--adaptive {
    display: none;
  }

  .header-content__block {
    margin-top: -11px;
  }

  .header-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
  }

  .header-content__block--none {
    display: none;
  }

  .header-content__block--adaptive {
    display: flex;
  }

  .header-content__item--social {
    display: block;
  }

  .name__link {
    padding: 18px 5px;
  }
}

@media screen and (max-width: 1400px) {
  .header::after {
    right: 25%;
  }

  .header-content__wrapp {
    flex-wrap: wrap;
  }

  .header-content__item--consultation {
    margin: 0 auto 30px;
  }

  .header-content__items {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1368px) {
  .name {
    margin-top: 320px;
  }
}

@media screen and (max-width: 1255px) {
  .header-content__items {
    justify-content: space-around;
  }

  .name {
    margin-top: 310px;
  }

  .content__block {
    margin-top: 12px;
  }
}

@media screen and (max-width: 1130px) {
  .header::after {
    right: 20%;
  }
  
  .title,
  .title__bold {
    font-size: 60px;
    font-weight: 300;
    line-height: 84px;
  }
  
  .title__bold {
    font-weight: 700;
  }
}

@media screen and (max-width: 988px) {
  .header::after {
    right: 16%;
  }

  .title,
  .title__bold {
    font-size: 46px;
    font-weight: 300;
    line-height: 57px;
  }
  
  .title__bold {
    font-weight: 700;
  }

  .content-list {
    grid-gap: 45px 0px;
    margin-right: 0;
  }

  .content-list__item {
    max-width: 375px;
    width: 100%;
    padding-left: 75px;
  }

  .header-content__items {
    margin-top: 30px;
  }
}

@media screen and (max-width: 765px) {
  .header::after {
    right: 10%;
  }

  .header__top-item--first {
    display: none;
  }

  .header__menu {
    width: 75%;
  }

  .header-box {
    display: block;
    text-align: center;
  }

  .header__top-item--box:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__top-item--third {
    margin-right: 0;
    width: 365px;
  }

  .header__top-item--box {
    margin:  0 auto;
  }

  .title,
  .title__bold {
    font-size: 44px;
    font-weight: 300;
    line-height: 53px;
    margin: 0 auto 30px;
  }

  .title__bold {
    font-weight: 700;
  }

  .content-title {
    margin-bottom: 30px;
  }

  .content-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-list__item {
    margin: 0 auto;
    padding-left: 95px;
  }
}

@media screen and (max-width: 610px) {
  .header::after {
    display: none;
  }

  .header__top-item--box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__top-number {
    display: none;
  }

  .title,
  .title__bold {
    font-size: 35px;
    font-weight: 300;
    line-height: 47px;
    margin: 0 auto 30px;
  }
  
  .title__bold {
    font-weight: 700;
  }

  .content-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
  }

  .content-title__light {
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
  }

  .header-content__item--consultation {
    display: none;
  }

  .name {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .header__top-item--third {
    width: 340px;
  }

  .content-list__item {
    padding-left: 76px;
  }

  .header-content__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-content__item--social {
    max-width: 100%;
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 375px) {
  .header__top-item--third {
    width: 320px;
  }

  .header__menu {
    width: 100%;
  }
}
/**********
*** HEADER END ***
**********/

/**********
*** FOOTER START ***
**********/
.footer {
  padding: 39px 10px 27px 24px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo-footer {
  display: block;
  min-width: 162px;
  margin-right: 18px;
}


.footer__item {
  max-width: 440px;
  width: 100%;
}

.footer__item--address {
  margin-right: 55px;
  text-align: left;
  padding-left: 15px;
}

.footer__item--text {
  margin-right: 100px;
  max-width: 495px;
  width: 100%;
  padding-left: 15px;
}

.footer__item--confidentially {
  max-width: 590px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  height: 29px;
  color: var(--blue);
}

.footer__img {
  height: 41px;
  width: 166px;
}


@media screen and (max-width: 1900px) {
  .footer {
    padding: 15px 0;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__item--text {
    margin-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .footer__item--confidentially {
    max-width: 100%;
    margin-top: 30px;  
  }
}

@media screen and (max-width: 1233px) {
  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .logo-footer {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .footer__item--address {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 540px) {
  .footer__item--confidentially {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer__link {
    width: 300px;
    margin: 0 auto 20px;
  }

  .footer__img {
    margin: 0 auto;
  }
}
/**********
*** FOOTER END ***
**********/

/**********
*** DIFFERENCE START ***
**********/
.difference {
  padding: 82px 0px 60px 0;
  text-align: center;
}

.difference__wrapper {
  padding-left: 6px;
}

.difference__item {
  margin-bottom: 66px;
}

.difference-title {
  font-size: 38px;
  line-height: 47px;
  font-weight: 300;
  margin-bottom: 33px;
}

.difference-text__bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  position: relative;
  padding-left: 96px;
}

.difference-text__bold::before {
  position: absolute;
  content: url(../img/svg/scroll.svg);
  top: -27px;
  left: 21%;
}

.difference-text__light {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}

.slider {
  margin-bottom: 30px;
}

.slider-item__box {
  display: flex !important;
  justify-content: space-between;
}

.slider-item__images {
  position: relative;
}

.slider-item__images::before {
  position: absolute;
  content: url(../img/svg/arrow_left_right.svg);
  background-color: var(--white);
  width: 65px;
  height: 65px;
  padding: 22px 8px;
  border-radius: 50%;
  top: 43%;
  left: 46%;
}

.slider-item__images:nth-child(1) {
  margin-right: 42px;
}

.slider__img {
  object-fit: cover;
  border-radius: 30px;
  width: 820px;
}

.slider-before-bold,
.slider-after-bold {
  font-weight: 600;
  margin-right: 5px;
}

.slider-before {
  position: absolute;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.74);
  padding: 6px 0 13px 6px;
  width: 150px;
  top: 30px;
  left: 31px;
}

.slider-after {
  top: 30px;
  right: 33px;
  width: 183px;
  position: absolute;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.74);
  padding: 9px 0 13px 9px;
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--grey);
}

.slick-dots li button:hover {
  background-color: var(--blue);
  opacity: 0.7;
}

.slick-dots li button:before {
  font-size: 0;
  line-height: 0;
  width: 13px;
  height: 13px;
}

.slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0 13px; 
}

.slick-dots li.slick-active button:before {
  background-color: var(--blue);
  border-radius: 50%;
  color: transparent;
  opacity: 1;
}

.slick-dots {
  bottom: -99px;
}

.slick-prev,
.slick-next {
  top: 119%;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--blue);
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: var(--blue);
}

.slick-prev {
  left: 37%;
  transform: rotate(180deg);
  top: 111%;
}

.slick-next {
  right: 36%;
}

.slick-prev:before,
.slick-next:before { 
  content: url(../img/svg/slider-arrow.svg);
  cursor: pointer;
  pointer-events: none;
  opacity: 1;
}

.slick-disabled {
  background-color: var(--white-100);
  background-image: url(../img/svg/slider-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  width: 74px;
  height: 74px;
  top: 111%;
  pointer-events: none;
}

.slick-disabled:nth-child(1) {
  transform: rotate(-360deg);
}
/**********
*** DIFFERENCE END ***
**********/

/**********
*** SALE START ***
**********/
.sale {
  padding: 110px 0;
  text-align: center;
}

.title-bold--sale {
  margin-bottom: 60px;
}

.sale__item {
  display: flex;
}

.sale__item-box {
  display: block;
  margin-right: 40px;
  max-width: 725px;
  width: 100%;
}

.sale__items {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px;
  padding: 52px 76px;
  text-align: left;
  max-width: 930px;
  width: 100%;
  position: relative;
}

.sale__items--small {
  min-height: 360px;
}

.sale__items--small:nth-child(1) {
  margin-bottom: 40px;
}

.sale-price {
  margin-bottom: 35px;
}

.sale-price__new {
  font-size: 26px;
  font-weight: 600;
  line-height: 37.5px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  width: 177px;
  border-radius: 13px;
  padding: 14px 0;
  background-color: var(--blue);
  box-shadow: 0px 0px 35px 0px rgba(89, 127, 174, 0.65);
  margin-bottom: 15px;
}

.sale-price__old {
  color: rgba(255, 255, 255, 0.47);
  font-size: 26px;
  font-weight: 300;
  line-height: 37.5px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.sale__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 37.5px;
  text-transform: uppercase;
  color: var(--white);
  max-width: 420px;
  width: 100%;
}

.sale__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
  border-bottom: 1px dashed var(--white);
}

.sale__link:hover {
  color: var(--white-100);
  border-bottom: 1px dashed var(--white-100);
  opacity: 0.7;
}

.sale__box {
  position: absolute;
  bottom: 50px;
}


@media screen and (max-width: 1420px) {
  .sale__item {
    flex-direction: column;
  }

  .sale__item-box {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .sale__items {
    max-width: 100%;
    height: 445px;
  }
}

@media screen and (max-width: 768px) {
  .sale {
    padding: 75px 0;
  }

  .title-bold--sale {
    margin-bottom: 30px;
  }

  .sale__items {
    background-position: right 31% center;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 540px) {
  .sale__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 35.5px;
    max-width: 300px;
  }
}
/**********
*** SALE END ***
**********/

/**********
*** SPECIALTY START ***
**********/
.specialty {
  text-align: center;
}

.specialty-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 56px;
  gap: 26px;
  padding-top: 50px;
}

.specialty-list__item {
  border-radius: 29px;
  padding: 95px 13px 42px 13px;
  background-color: var(--white);
  box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.09);
  max-width: 260px;
  width: 100%;
  position: relative;
  transition: all .3s;
}

.specialty-list__item:hover {
  box-shadow: 0px 17px 32px 10px rgba(35, 34, 34, 0.09);
}

.specialty-list__item::before {
  position: absolute;
  content: '1';
  font-size: 29px;
  font-weight: 600;
  line-height: 34px;
  color: var(--white);
  background-color: var(--blue);
  border: 9px solid var(--grey);
  border-radius: 50%;
  padding: 12px 8px;
  width: 81px;
  height: 81px;
  top: -18px;
  left: 87px;
}

.specialty-list__item:nth-child(2)::before {
  content: '2';
}

.specialty-list__item:nth-child(3)::before {
  content: '3';
}

.specialty-list__item:nth-child(4)::before {
  content: '4';
}

.specialty-list__item:nth-child(5)::before {
  content: '5';
}

.specialty-list__item:nth-child(6)::before {
  content: '6';
}

.specialty-list__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 20px;
}
/**********
*** SPECIALTY END ***
**********/

/**********
*** DETAILS START ***
**********/
.details {
  background-image: url(../img/bg/details-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 75px 0 91px 0;
  text-align: center;
}

.details-tabs {
  margin-bottom: 83px;
  padding: 20px 0;
}

.details-tabs__top {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 57px;
}

.details-tabs__top-item:not(:last-child) {
  margin-right: 74px;
}

.details-tabs__top-item {
  font-size: 20px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 0px 21px 7px rgba(155, 155, 155, 0.13);
  padding: 20px 29px;
  transition: all .3s;
}

.details-tabs__top-item:hover {
  box-shadow: 6px 8px 22px 15px rgba(155, 155, 155, 0.13);
  
}

.details-tabs__top-item--active {
  font-size: 20px;
  font-weight: 400;
  background-color: var(--blue);
  box-shadow: 0px 4px 20px 6px rgba(89, 127, 174, 0.29);
  color: var(--white);
  border-radius: 6px;    
}

.details-tabs__content {
  margin-bottom: 24px;
}

.details-tabs__content-item {
  display: none;
}

.details-tabs__content-item--active {
  display: flex;
}

.details__box {
  display: flex;
}

.details__list {
  max-width: 530px;
  width: 100%;
  text-align: left;
}

.details__list:not(:last-child) {
  margin-right: 62px; 
}

.details__item:not(:last-child) {
  border-bottom: 1px dashed var(--black);
}

.details__item {
  padding: 17px 0 25px 77px;
  position: relative;
}

.details__item::before {
  position: absolute;
  content: url(../img/svg/arrow-tabs.svg);
  top: 31%;
  left: 25px;
}

.details-description {
  border-radius: 40px;
  background-color: var(--white);
  box-shadow: 0px 13px 40px 0px rgba(0, 0, 0, 0.13);
  width: 100%;
  padding: 39px 67px 62px 390px;
  text-align: left;
  position: relative;
}

.details-description::before {
  position: absolute;
  content: url(../img/haritonov1.png);
  bottom: -6px;
  left: 41px;
}

.title-bold--details {
  font-weight: 600;
  margin-bottom: 32px;
}

.details-description__subtitle {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 29px;
}

.details-description__list {
  margin-bottom: 30px;
}

.details-description__item:not(:last-child) {
  margin-bottom: 28px;
}

.details-description__item {
  padding-left: 52px;
  position: relative;
}

.details-description__item::before {
  position: absolute;
  content: url(../img/svg/arrow-tabs.svg);
  top: 15px;
  left: 6px;
}

.details-description__info {
  padding-left: 3px;
}

.text-details {
  margin-bottom: 24px;
}
/**********
*** DETAILS END ***
**********/

/**********
*** DETAILS START ***
**********/
.service {
  padding-bottom: 99px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 73px;
  margin-bottom: 137px;
}

.service__title {
  line-height: 70px;
  margin-bottom: 25px;
}

.service__title--form {
  margin-bottom: 43px;
}

.service__text {
  max-width: 710px;
  width: 100%;
}

.text--service,
.text-link--service {
  font-size: 24px;
  line-height: 34.5px;
}

.text-link--service {
  opacity: 0.5;
}

.service__item:nth-child(1) {
  width: 873px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.service__item-block {
  max-width: 390px;
  width: 100%;
}

.service__img {
  width: 147px;
  height: 147px;
  object-fit: contain;
  margin-bottom: 15px;
}

.service__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 5px;
}

.service__form {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/bg/service-form-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 66px 87px 62px 87px;
  border-radius: 35px;
  position: relative;
}

.service__form::after {
  position: absolute;
  content: url(../img/service/service-after.png);
  bottom: -5px;
  left: 38%;
}

.service__point:nth-child(1) {
  max-width: 695px;
  width: 100%;
}

.service__text--form {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 38px;
}

.service-list {
  margin-bottom: 38px;
}

.service-list__item {
  position: relative;
  padding-left: 30px;
}

.service-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.service-list__item::before {
  position: absolute;
  content: url(../img/svg/point-service.svg);
  top: 2px;
  left: -5px;
}

.service-connection {
  display: flex;
}

.service-connection__box {
  margin-right: 68px;
}

.service-connection__block {
  display: flex;
  padding-left: 18px;
  margin-bottom: 15px;
}

.service-link {
  position: relative;
  padding-left: 35px;
}

.service-link::before {
  position: absolute;
  content: url(../img/svg/call.svg);
  top: 9px;
  left: -2px;
}

.content-social__wrapp {
  margin-bottom: 10px;
}

.service__point:nth-child(2) {
  max-width: 435px;
  width: 100%;
  padding-top: 10px;
}

.service-title {
  margin-bottom: 39px;
}

.service-title,
.service-title__bold {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.service-title__bold {
  font-weight: 700;
}

.service-form {
  width: 100%;
  display: block;
}

.service-form__label {
  display: block;
  margin-bottom: 25px;
}

.service-form__input,
.select {
  background-color: var(--white);
  padding: 35px 45px;
  width: 100%;
  border-radius: 1000px;
  transition: all .3s;
}

.service-form__input::placeholder{
  color: var(--grey-200);
  font-size: 20px;
  font-weight: 400;
}

.service-form__input:hover::placeholder {
  color: var(--black);
}

.service-form__input:hover,
.select:hover {
  color: var(--grey-300);
  box-shadow: 0px 0px 10px 0px rgba(82, 91, 102, 0.65);
}

.select {
  border: transparent;
  outline: transparent;
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
  appearance: none !important;
}

.label-checkbox {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--blue);
}

.input-checkbox {
  width: 24px;
  height: 24px;
  background-color: var(--blue);
  margin-right: 10px;
}
/**********
*** DETAILS END ***
**********/

/**********
*** REVIEW START ***
**********/
.review {
  padding-bottom: 181px;
  text-align: center;
}

.review-slider {
  display: flex;
  padding: 24px 5px 0px 5px;
}

.review-slider__item {
  display: flex !important;
  width: 100%;
}

.review-slider__wrapper {
  max-width: 445px;
  width: 100%;
}

.slick-prev--review {
  top: 108%;
  left: 32%;
}

.slick-next--review {
  left: 65%;
  top: 113%;
}

.review-slider__wrapper:not(:last-child) {
  margin-right: 25px;
}

.review-slider__img {
  object-fit: cover;
  margin-bottom: 20px;
  max-width: 445px;
}

.review-text {
  font-weight: 400;
}
/**********
*** REVIEW END ***
**********/

/**********
*** AUTHOR START ***
**********/
.author {
  padding-bottom: 100px;
  position: relative;
}

.author::after {
  position: absolute;
  content: url(../img/bg/doctor-bg-2.png);
  bottom: 48px;
  right: 95px;
  z-index: -1;
}

.author__wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.author__title {
  margin-bottom: 25px;
  text-wrap: balance;
}

.author__subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 38px;
}

.author-list {
  margin-bottom: 40px;
}

.author-list__item:not(:last-child) {
  margin-bottom: 27px;
}

.author-list__item {
  padding-left: 65px;
  width: 100%;
  position: relative;
}

.author-list__item::before {
  position: absolute;
  content: url(../img/svg/arrow-tabs.svg);
  top: 15px;
  left: 0;
}

.text-list:not(:last-child) {
  margin-bottom: 6px;
}

.author__block {
  max-width: 790px;
  width: 100%;
  margin-bottom: 20px;
}

.author-text:not(:last-child) {
  margin-bottom: 24px;
}

.social-author {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.social-text {
  margin-right: 24px;
}

.social-author__img {
  width: 69px;
  height: 69px;
}

.name-author {
  position: absolute;
  right: 25px;
  bottom: 80px;
}

.author__blockquote {
  background-color: var(--white);
  filter: drop-shadow(0px 0px 40px rgba(123, 123, 123, 0.26));
  padding: 17px 10px 25px 45px;
  border-radius: 6px 21px 8px 17px;
  transform: skew(-15deg);
}

.blockquote {
  transform: skew(15deg);
  font-style: normal;
}
/**********
*** AUTHOR END ***
**********/

/**********
*** CERTIFICAT START ***
**********/
.certificat {
  padding-bottom: 74px;
  margin-top: -54px;
  background-color: var(--white-100);
}

.certificat__wrapper {
  display: flex;
  padding: 60px 60px 80px 90px;
  background-color: var(--white);
  border-radius: 40px;
}

.certificat__item {
  max-width: 380px;
  width: 100%;
  margin-right: 50px;
}

.certificat-title,
.certificat-title__light {
  margin-bottom: 38px;
  font-size: 54px;
  font-weight: 700;
  line-height: 61px;
}

.certificat-title__light {
  font-weight: 300;
}

.certificat-text,
.certificat-text__light {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 32px;
}

.certificat-text__light {
  font-weight: 300;
}

.certificat-slider {
  display: flex !important;
  width: 73%;
  padding: 20px;
}

.certificat-slider__item {
  display: flex !important;
  
}

.certificat-slider__img {
  max-width: 355px;
  object-fit: cover;
}

.certificat-slider__img:not(:last-child) {
  margin-right: 20px;
}

/* .slick-dots--certificat {
  bottom: -7px;
} */

.slick-prev--certificat {
  top: 89%;
  left: 31%;
}

.slick-next--certificat {
  top: 100%;
  right: 28%;
}
/**********
*** CERTIFICAT END ***
**********/

/**********
*** SERVICES START ***
**********/
.services {
  padding-bottom: 90px;
}

.services__wrapper {
  display: flex;
}

.services-slide {
  padding-top: 15px;
  max-width: 845px;
  width: 100%;
  margin-right: 83px;
}

.services-slide__big-item {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 13px;
  position: relative;
}

.services-slide__link {
  position: absolute;
  display: block;
  top: 35%;
  left: 42%;
  transition: opacity, scale .3s;
}

.services-slide__link:hover {
  scale: 1.1;
  opacity: 0.8;
}

.services-slide__img {
  object-fit: cover;
  max-width: 845px;
}

.services-slide__thumb {
  width: 100%;
}

.services-slide__thumb-item {
  max-width: 156px;
  width: 100%;
  border-radius: 13px;
  cursor: pointer;
  transition: opacity .3s;
}

.services-slide__thumb-item:hover {
  opacity: 0.8;
}

.services-slide__thumb-item:not(:last-child) {
  margin-right: 28px;
}

.services-slide__images {
  max-width: 156px;
  object-fit: cover;
  margin-right: 25px;
}

.services__item {
  max-width: 790px;
  width: 100%;
}

.services-title,
.services-title-light {
  font-size: 53px;
  font-weight: 600;
  line-height: 61px;
  margin-bottom: 10px;
}

.services-title-light {
  font-weight: 300;
}

.services__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 28px;
}

.services-text {
  margin-bottom: 32px;
}

.services-list {
  display: grid;
  grid-template-columns: 415px 1fr;
  gap: 30px 5px;
  margin-bottom: 42px;
}

.services-list__item {
  padding-left: 75px;
  position: relative;
}

.services-list__item::before {
  position: absolute;
  content: url(../img/svg/check.svg);
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
}

.services-content {
  display: flex;
}

.services-content__images {
  max-width: 170px;
  width: 100%;
  height: 265px;
  margin-right: 35px;
}

.services-content__img {
  margin-bottom: 15px;
  object-fit: cover;
}

.services-content__name {
  font-weight: 400;
}

.services-content__info {
  max-width: 555px;
  width: 100%;
}

.services-content-text {
  margin-bottom: 15px;
}

.services-content__block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.services-content__box {
  width: 74px;
  height: 105px;
  margin-right: 22px;
}

.services-content__box-img {
  min-width: 74px;
  height: auto;
  object-fit: cover;
}

.services-content__text {
  line-height: 29px;
}

.services-content-link {
  border-bottom: none;
}
/**********
*** SERVICES END ***
**********/

/**********
*** QUESTIONS START ***
**********/
.questions {
  background-image: url(../img/bg/questions-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  position: relative;
}

.questions::after {
  position: absolute;
  content: url(../img/service/service-after.png);
  bottom: -7px;
  right: 10px;
}

.questions-title {
  text-align: center;
  margin-bottom: 56px;
}

.questions__wrapper {
  display: flex;
}

.questions__item--collapse {
  margin-right: 40px;
  padding-top: 20px;
}

.questions-collapse {
  list-style-position: inside;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  list-style-type: decimal;
  gap: 75px;
}

.collapse {
  border-bottom: 1px dashed var(--grey-300);
  margin-bottom: 35px;
  max-width: 595px;
  width: 100%;
  position: relative;
}

.collapse-ten {
  margin-bottom: 50px;
}

.js-collapse-btn {
  font-weight: 600;
  width: 100%;
  margin-bottom: 35px;
  padding-left: 45px;
  cursor: pointer;
  pointer-events: visible;
  position: relative;
  text-align: left;
  display: block;
  transition: opacity .3s;
}

.js-collapse-btn--active {
  margin-bottom: 18px;
}

.js-collapse-btn:hover {
  opacity: 0.8;
}

.js-collapse-btn::before {
  position: absolute;
  content: url(../img/svg/arrow-tabs.svg);
  top: 0;
  left: 0;
}

.js-collapse-btn::after {
  position: absolute;
  content: '01';
  color: var(--grey-400);
  background-color: var(--white-100);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 600;
  line-height: 34px;
  padding: 9px 14px;
  top: -15px;
  right: -3px;
  transition: all .3s;
}

.js-collapse-btn:hover::after {
  box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.13);
}

.js-collapse-btn--two::after {
  content: '02';
}

.js-collapse-btn--three::after {
  content: '03';
}

.js-collapse-btn--four::after {
  content: '04';
}

.js-collapse-btn--five::after {
  content: '05';
}

.js-collapse-btn--six::after {
  content: '06';
}

.js-collapse-btn--seven::after {
  content: '07';
}

.js-collapse-btn--eight::after {
  content: '08';
}

.js-collapse-btn--nine::after {
  content: '09';
}

.js-collapse-btn--ten::after {
  content: '10';
}

.js-collapse-btn--active::after {
  color: var(--white);
  background-color: var(--blue);
}

.js-collapse-box {
  display: none;
}

.js-collapse-box--active {
  display: block;
}

.js-collapse-item {
  margin-bottom: 20px;
  padding-left: 50px;
  max-width: 509px;
  width: 100%;
}

.js-collapse-text {
  font-size: 16px;
  line-height: 22px;
  
}

.questions__request {
  display: flex;
  max-width: 590px;
  width: 100%;
}

.questions-text {
  color: var(--blue);
  font-weight: 600;
  padding-top: 17px;
}

.questions-button {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.96px;
  z-index: 1;
}

.questions-button::before {
  content: url(../img/svg/arrow-white2.svg);
  top: 32px;
  right: 33px;
}

.questions__item--name {
  max-width: 175px;
  width: 100%;
  padding-top: 80px;
  text-align: right;
}

.questions__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}


@media screen and (max-width: 1900px) {
  .questions::after {
    content: url(../img/haritonovblue-min.png);
    bottom: -6px;
  }
}

@media screen and (max-width: 1630px) {
  .questions::after {
    right: 41%;
  }

  .questions__wrapper {
    flex-direction: column;
  }

  .questions-collapse {
    gap: 30px;
  }

  .questions__item--collapse {
    margin-right: 0;
  }

  .questions__item--name {
    max-width: 323px;
    padding-top: 312px;
  }
}

@media screen and (max-width: 1324px) {
  .questions::after {
    right: 21%;
  }
}

@media screen and (max-width: 1250px) {
  .questions-collapse {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .collapse {
    max-width: 100%;
  }
}

@media screen and (max-width: 988px) {
  .questions::after {
    right: 0;
  }

  .collapse-ten {
    margin-bottom: 65px;
  }

  .questions__request {
    flex-direction: column;
    max-width: 335px;
    justify-content: center;
    text-align: center;
  }

  .questions-text {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .questions-button {
    width: 335px;
  }

  .questions__item--name {
    padding-top: 50px;
    margin-bottom: 135px;
  }
}

@media screen and (max-width: 670px) {
  .questions::after {
    right: 15%;
  }

  .js-collapse-btn {
    margin-bottom: 30px;
    padding-left: 25px;
  }

  .js-collapse-btn::after {
    top: -61px;
  }

  .questions__request {
    margin: 0 auto;
  }

  .questions__item--name {
    padding-top: 250px;
    margin-bottom: 30px;
    z-index: 1;
    max-width: 100%;
    text-align: center;
  }

  .text-name {
    color: var(--white);
  }

  .questions__name {
    color: var(--white);
  }
}

@media screen and (max-width: 540px) {
  .questions::after {
    right: 0;
  }
}

@media screen and (max-width: 375px) {
  .questions-button {
    width: 280px;
    margin: 0 auto;
  }

  .js-collapse-item {
    padding-left: 10px;
  }
}
/**********
*** QUESTIONS END ***
**********/

/**********
*** MAP START ***
**********/
.map {
  position: relative;
  border-radius: 40px 40px 0 0;
}

#map {
  width: 100%;
  height: 750px;
}

.map-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 29px;
  box-shadow: 0px 4px 20px -6px rgba(89, 127, 174, 0.29);
  padding: 56px 65px;
  max-width: 850px;
  width: 100%;
  top: 102px;
  left: 113px;
}

.map-content__item:not(:last-child) {
  margin-right: 60px;
}

.map-content__item {
  max-width: 330px;
  width: 100%;
}

.map-content__block {
  display: flex;
  margin-bottom: 14px;
  padding-left: 15px;
}

.text-bold--address {
  margin-right: 5px;
}

.map-content__box {
  padding-left: 15px;
  margin-bottom: 31px;
}

.map-content-link {
  margin-bottom: 43px;
  display: block;
  padding-left: 15px;
}

.map-content-link::before {
  top: 1px;
  left: -21px;
}

.map-content__address {
  display: block;
  position: relative;
  padding-left: 15px;
}

.map-content__address::before {
  position: absolute;
  content: url(../img/svg/map.svg);
  top: 10px;
  left: -14px;
}

.map-content__list {
  display: flex;
}

.content-social:not(:last-child) {
  margin-right: 28px;
}

.text-map {
  margin-bottom: 20px;
}

.map-content__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 0;
}

.map-content__img {
  width: 142px;
  height: 104px;
  border-radius: 13px;
}


@media screen and (max-width: 1020px) {
  .map-content {
    padding: 53px;
    max-width: 93%;
    top: 50px;
    left: 30px;
  }

  .map-content__item:not(:last-child) {
    margin-right: 25px;
  }

  .map-content__images {
    gap: 15px 13px;
  }
}

@media screen and (max-width: 765px) {
  .map-content {
    padding: 40px 30px;
    left: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .map-content__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 420px) {
  .map-content {
    padding: 20px 10px;
    top: 20px;
    left: 10px;
  }

  .map-content__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .content-social:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .map-content__item--adaptive {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .service-link::before {
    display: none;
  }

  .map-content-link {
    padding-left: 0;
  }
}
/**********
*** MAP END ***
**********/



/* .questions-list__item {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
} */