/**********
*** FONT START ***
**********/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

/**********
*** FONT END ***
**********/

/**********
*** COLOR START ***
**********/
:root {
  --black: #000000;

  --white: #FFFFFF;
  --white-100: #F7F7F7;

  --grey: #C4C4C4;
  --grey-100: #CECECE;
  --grey-200: #A8A8A8;
  --grey-300: #C3CBD9;
  --grey-400: #CAC8C8;

  --blue: #597FAE;
  --blue-100: #5980AE;

  --grin: #00B227;
  --grin-100 :#52AE95;
}

/**********
*** COLOR END ***
**********/

/**********
*** COMMON START ***
**********/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dt {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: transparent;
  border: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.main {
  flex-grow: 1;
  min-height: 100vh;
}

.container {
  max-width: 1695px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header-container,
.footer-container {
  max-width: 1875px;
  width: 100%;
  padding: 0 5px;
}

.text-bold {
  font-weight: 600;
  margin-right: 5px;
}

.text-link {
  color: var(--blue);
  font-weight: 500;
  line-height: 27px;
  border-bottom: 2px dashed var(--blue);
  transition: all .3s;
}

.text-link:hover {
  opacity: 0.7;
}

.title-bold {
  font-size: 54px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 47px;
}

.title-light {
  font-size: 54px;
  line-height: 61px;
  font-weight: 300;
}
/**********
*** COMMON END ***
**********/

/**********
*** HEADER START ***
**********/
.header {
  background-image: url(../img/bg/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 35px 0;
  position: relative;
}

.header::after {
  position: absolute;
  content: url(../img/bg/doctor-bg.png);
  bottom: -4px;
  right: 92px;
}

.header__top {
  padding: 20px 0 20px 9px;
  display: flex;
  align-items: center;
}

.logo-header {
  width: 162px;
  margin-right: 31px;
}

.header__top-item--first {
  width: 247px;
  margin-right: 40px;
}

.header__top-item--second {
  display: flex;
  align-items: center;
  margin-right: 38px;
  width: 437px;
}

.header__top-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 19px;
  object-fit: cover;
}

.header__top-item--third {
  margin-right: 12px;
  display: flex;
  width: 400px;
}

.header__top-number {
  background-color: var(--white);
  filter: drop-shadow(0px 0px 40px rgba(19, 19, 19, 0.11));
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: 21px;
  color: var(--blue);
  font-size: 27px;
  font-weight: 700;
  padding: 34px 23px;
}

.header__top-text {
  display: flex;
}

.header__top-item--social {
  margin-right: 29px;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 22px;
}

.social-list__link {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.social-list__link:hover {
  scale: 1.1;
  opacity: 0.7;
}

.social-list__img {
  width: 74px;
  height: 74px;
}

.header__top-item--address {
  width: 290px;
  text-align: right;
}

.header__top-block {
  display: flex;
  margin-bottom: 13px;
  justify-content: right;
}

.text-bold--address {
  position: relative;
}

.text-bold--address::before {
  position: absolute;
  content: '';
  background-color: var(--grin);
  border-radius: 50%;
  width: 9px;
  height: 11px;
  top: 6px;
  left: -12px;
}

.header-link {
  font-size: 30px;
  font-weight: 700;
  line-height: 21.2px;
}

.header-address {
  font-weight: 300;
  line-height: 29px;
  border-bottom: 1px dashed var(--blue);
}

.header__menu {
  padding-bottom: 86px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  filter: drop-shadow(0px 0px 40px rgba(19, 19, 19, 0.06));
  border-radius: 12px;
  padding: 0 30px 0 47px;
}

.menu__item {
  padding: 32px 0;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  opacity: 0.7;
}

.header-content {
  padding-bottom: 54px;
}

.title {
  max-width: 1090px;
  width: 100%;
  margin-bottom: 52px;
}

.title,
.title__bold {
  font-size: 69px;
  font-weight: 300;
  line-height: 95px;
}

.title__bold {
  font-weight: 700;
}

.header-content__wrapper {
  width: 100%;
}

.content-title {
  font-size: 31px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 58px;
  max-width: 750px;
  width: 100%;
}

.content-title__light {
  font-weight: 300;
  font-size: 31px;
  line-height: 38px;
}

.header-content__inner {
  display: flex;
  margin-bottom: 48px;
}

.content-list {
  max-width: 735px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 52px 24px;
  align-items: center;
  margin-right: 53px;
}

.content-list__item {
  width: 375px;
  padding-left: 93px;
  position: relative;
}

.content-list__item::before {
  position: absolute;
  content: url(../img/svg/check.svg);
  top: -15px;
  left: 0;
}

.content-list__item:nth-child(4) {
  display: flex;
}

.content-list__item:nth-child(4)::before {
  top: -22px;
  left: 0;
}

.text-bold--list {
  margin-right: 0;
}

.header-content__block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 330px;
  width: 100%;
  margin-top: -72px;
}

.header-content__play {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid var(--grey-100);
  margin-bottom: 10px;
  
}

.header-content__images {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid var(--blue-100);
}

.header-content__wrapp {
  display: flex;
}

.header-content__item--consultation {
  padding-top: 15px;
  max-width: 542px;
  width: 100%;
  text-align: center;
  margin-right: 44px;
}

.slogan {
  width: 100%;
  background-color: var(--blue);
  border-radius: 1000px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 17px;
  position: relative;
}

.slogan::before {
  position: absolute;
  content: url(../img/svg/arrow-white.svg);
  top: 47px;
  right: 45px;
}

.slogan__text {
  font-size: 19px;
  font-weight: 600;
  line-height: 29px;
  color: var(--white);
}

.header-content__item--social {
  max-width: 370px;
  width: 100%;
}

.text-bold--question {
  position: relative;
}

.text-bold--question::before {
  position: absolute;
  content: '';
  background-color: var(--grin);
  border-radius: 50%;
  width: 9px;
  height: 11px;
  top: 6px;
  left: -12px;
}

.text-online {
  margin-bottom: 10px;
}

.header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 330px;
  width: 100%;
  margin-top: 115px;
  z-index: 1;
}

.header-name__link {
  display: block;
  width: 100%;
  background-color: var(--grin-100);
  transform: skew(-20deg);
  border-radius: 8px;
  color: var(--white);
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 18px 0;
  margin-bottom: 7px;
}

.text-name {
  font-weight: 400;
}
/**********
*** HEADER END ***
**********/

/**********
*** FOOTER START ***
**********/
.footer {
  padding: 27px 10px 27px 24px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo-footer {
  display: block;
  margin-right: 18px;
}


.footer__item {
  max-width: 440px;
  width: 100%;
}

.footer__item--address {
  margin-right: 55px;
}

.footer__item--text {
  margin-right: 100px;
  max-width: 495px;
}

.footer__item--confidentially {
  max-width: 590px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  height: 29px;
  color: var(--blue);
  border-bottom: 2px dashed var(--blue);
}

.footer__img {
  height: 41px;
}
/**********
*** FOOTER END ***
**********/

/**********
*** DIFFERENCE START ***
**********/
.difference {
  padding: 82px 0px 60px 0;
  text-align: center;
}

.difference__wrapper {
  padding-left: 6px;
}

.difference__item {
  margin-bottom: 66px;
}

.difference-title {
  font-size: 38px;
  line-height: 47px;
  font-weight: 300;
  margin-bottom: 33px;
}

.difference-text__bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  position: relative;
  padding-left: 96px;
}

.difference-text__bold::before {
  position: absolute;
  content: url(../img/svg/scroll.svg);
  top: -27px;
  left: 21%;
}

.difference-text__light {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}

.slider {
  margin-bottom: 30px;
}

.slider-item__box {
  display: flex !important;
  justify-content: space-between;
}

.slider-item__images {
  position: relative;
}

.slider-item__images::before {
  position: absolute;
  content: url(../img/svg/arrow_left_right.svg);
  background-color: var(--white);
  width: 65px;
  height: 65px;
  padding: 22px 8px;
  border-radius: 50%;
  top: 43%;
  left: 46%;
}

.slider-item__images:nth-child(1) {
  margin-right: 42px;
}

.slider__img {
  object-fit: cover;
  border-radius: 30px;
  width: 820px;
}

.slider-before-bold,
.slider-after-bold {
  font-weight: 600;
  margin-right: 5px;
}

.slider-before {
  position: absolute;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.74);
  padding: 6px 0 13px 6px;
  width: 150px;
  top: 30px;
  left: 31px;
}

.slider-after {
  top: 30px;
  right: 33px;
  width: 183px;
  position: absolute;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.74);
  padding: 9px 0 13px 9px;
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--grey);
}

.slick-dots li button:hover {
  background-color: var(--blue);
  opacity: 0.7;
}

.slick-dots li button:before {
  font-size: 0;
  line-height: 0;
  width: 13px;
  height: 13px;
}

.slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0 13px; 
}

.slick-dots li.slick-active button:before {
  background-color: var(--blue);
  border-radius: 50%;
  color: transparent;
  opacity: 1;
}

.slick-dots {
  bottom: -99px;
}

.slick-prev,
.slick-next {
  top: 119%;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--blue);
}

.slick-prev {
  left: 37%;
}

.slick-next {
  right: 36%;
}

.slick-prev:before,
.slick-next:before { 
  content: url(../img/svg/slider-arrow.svg);
  opacity: 1;
}

.slick-disabled {
  background-color: var(--white-100);
  background-image: url(../img/svg/slider-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/**********
*** DIFFERENCE END ***
**********/

/**********
*** SALE START ***
**********/
.sale {
  padding: 100px 0;
  text-align: center;
}

.title-bold--sale {
  margin-bottom: 60px;
}

.sale__item {
  display: flex;
}

.sale__item-box {
  display: block;
  margin-right: 40px;
  max-width: 725px;
  width: 100%;
}

.sale__items {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px;
  padding: 52px 76px;
  text-align: left;
  max-width: 930px;
  width: 100%;
  position: relative;
}

.sale__items--small:nth-child(1) {
  margin-bottom: 40px;
}

.sale-price {
  margin-bottom: 35px;
}

.sale-price__new {
  font-size: 26px;
  font-weight: 600;
  line-height: 37.5px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  width: 177px;
  border-radius: 13px;
  padding: 14px 0;
  background-color: var(--blue);
  box-shadow: 0px 0px 35px 0px rgba(89, 127, 174, 0.65);
  margin-bottom: 15px;
}

.sale-price__old {
  color: rgba(255, 255, 255, 0.47);
  font-size: 26px;
  font-weight: 300;
  line-height: 37.5px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.sale__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 37.5px;
  text-transform: uppercase;
  color: var(--white);
  max-width: 420px;
  width: 100%;
}

.sale__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
  border-bottom: 1px dashed var(--white);
}

.sale__link:hover {
  color: var(--white-100);
  border-bottom: 1px dashed var(--white-100);
  opacity: 0.7;
}

.sale__box {
  position: absolute;
  bottom: 50px;
}
/**********
*** SALE END ***
**********/

/**********
*** SPECIALTY START ***
**********/
.specialty {
  padding-bottom: 60px;
  text-align: center;
}

.specialty-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 60px;
  gap: 26px;
  padding-top: 50px;
}

.specialty-list__item {
  border-radius: 29px;
  padding: 70px 13px;
  background-color: var(--white);
  box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.09);
  max-width: 260px;
  width: 100%;
  position: relative;
  transition: all .3s;
}

.specialty-list__item:hover {
  box-shadow: 0px 17px 32px 10px rgba(35, 34, 34, 0.09);
}

.specialty-list__item::before {
  position: absolute;
  content: '1';
  font-size: 29px;
  font-weight: 600;
  line-height: 34px;
  color: var(--white);
  background-color: var(--blue);
  border: 10px solid var(--grey);
  border-radius: 50%;
  padding: 12px 8px;
  width: 80px;
  height: 80px;
  top: -43px;
  left: 90px;
}

.specialty-list__item:nth-child(2)::before {
  content: '2';
}

.specialty-list__item:nth-child(3)::before {
  content: '3';
}

.specialty-list__item:nth-child(4)::before {
  content: '4';
}

.specialty-list__item:nth-child(5)::before {
  content: '5';
}

.specialty-list__item:nth-child(6)::before {
  content: '6';
}

.specialty-list__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 20px;
}
/**********
*** SPECIALTY END ***
**********/